/* you use media queries to style your page(s) based on the view port width */
/* **normally** you design mobile first and work your way up to larger screen sizes */

/* you can see a list of media query types and features here => https://preview.my.ironhack.com/lms/courses/course-v1:IRONHACK+WDPT+202207_RMTUS/modules/ironhack-course-chapter_2/units/ironhack-course-chapter_2-sequential_2-vertical_1 */

body {
    margin: 0;
    padding: 3.5rem 6rem 0;
    background-color: #cca1dd;
}

nav {
    background-color: cyan;
    position: fixed;
    top: 0;
    left: 0;
    width: 96vw;
    padding: 0 2vw;
    height: 3.5rem;
    /* flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24%;
}

nav div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8%;
}

/* flexbox - to center content within an element */
/* display: flex;
    align-items: center;
    justify-content: center; */

/* nav a:nth-child(1) img {
    width: 6rem;
} */

nav > a img {
    width: 6rem;
}

nav div#auth-links a.logout {
    /* visibility: none; */
    display: none;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* flex-flow takes the values of both flex-direction and flex-wrap respectively */
    flex-flow: row wrap;
}

.container div.box {
    width: 24vw;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container div.box > img {
    width: 100%;
}

.container div.box div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 720px) {
    nav {
        background-color: rgb(208, 201, 240);
    }

    body {
        background-color: rgb(228, 228, 184);
    }
}

@media only screen and (max-width: 420px) {
    nav {
        background-color: limegreen;
    }

    body {
        background-color: orange;
    }
}
